<div class="container">
  <%= form_with(model: recipe, html: { class: "recipe-form-container" }) do |form| %>
    <% if recipe.errors.any? %>
      <div class="recipe-error-messages">
        <h2><%= pluralize(recipe.errors.count, "error") %> can't save recipe:</h2>
        <ul>
          <% recipe.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-6">
        <div>
          <%= form.label :name, class: "recipe-form-label" %>
          <%= form.text_field :name, class: "form-control recipe-form-field" %>
        </div>

        <div>
          <%= form.label :preparation_time, class: "recipe-form-label" %>
          <%= form.number_field :preparation_time, class: "form-control recipe-form-field" %>
        </div>

        <div>
          <%= form.label :cooking_time, class: "recipe-form-label" %>
          <%= form.number_field :cooking_time, class: "form-control recipe-form-field" %>
        </div>
      </div>

      <div class="col-md-6">
        <div>
          <%= form.label :description, class: "recipe-form-label" %>
          <%= form.text_area :description, class: "form-control recipe-form-field", rows: 4 %>
        </div>

        <div>
          <%= form.submit "Save Recipe", class: "btn btn-primary recipe-form-submit" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
